nav{
  background-color: rgba(23, 43, 94, 0.3);

}

.mnubtn{
  background-color: #77f0be;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.logo{
  padding-left: 100px;
}

nav a{
  color: #fff;
  padding:10px 0px 0px 30px;
  font-weight: 900;
  text-decoration: none;
}

nav a:hover{
  color: #77f0be;
}

.est{
  background-color: #1e7be2;
  border-radius: 5px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  font-weight: 800;
  font-size: 1em;
  color: #fff;
}

.marg{
  padding-left: 100px;
  padding-right: 100px;
}