@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

.hero-container {
  background-image: url("images/Hero.png");
  background-size: cover;
  height: 545px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5% 10px 5%;
  align-items: center;
}

#logo:hover {
  cursor: pointer;
}

header ul li {
  display: inline-block;
  margin-right: 80px;
}

header ul li a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: 500;
  transition: all ease-in-out 250ms;
}

header ul li a:hover {
  color: #79F5BE;
}

.hero-container h1 {
  color: white;
  font-size: 96px;
  padding-top: 100px;
}

/*About Us Section Styling*/
.about-us {
  background: linear-gradient(135deg, #1D1E54 0%, #020720 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.about-us-text {
  max-width: 450px;
  margin-right: 65px;
}

.about-us-text h3 {
  font-size: 36px;
  font-weight: 600;
  
}

.about-us-text h3::after {
  content: "";
  display: block;
  background-color: #79F5BE;
  height: 5px;
  width: 125px;
  margin-top: 10px;
}

.about-us-text p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.about-us img {
  margin-left: 65px;
}

/*Our Team Section Styling*/
.our-team {
  background-image: url("images/team-bg.png");
  max-height: 990px;
  padding-top: 35px;
}

.our-team h3 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
}

.our-team h3::after {
  content: "";
  display: block;
  background-color: #79F5BE;
  height: 5px;
  width: 125px;
  margin-top: 10px;
  margin: auto;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 65px 5% 80px 5%;
}

.team-item {
  max-width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px 20px 10px;
}

.team-item-text {
  max-width: 345px;
  margin-left: 20px;
}

.team-item-text h4 {
  color: #79F5BE;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
}

.team-item-text h5 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 43px;
}

.team-item-text hr {
  height: 3px;
  width: 345px;
  background-color: #79F5BE;
  margin: 11px 0 11px 0;
}

.team-item-text p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}